-#  This file is app/views/tagged_posts/index.html.haml
<div class="content_wrapper">
= render 'shared/header_tag'
%br
%div{:class => "tutorial"}
    %p{:class => "tutorial_head"} Resolve -
    %span{:class => "tutorial_bold"} PROGRESO - Progress continues toward global goals. 
    Have you heard? You and your experiences are SO important. Come to the table.
    %p{:class => "tutorial_close"} [CLOSE X]

= render 'shared/new_tagged_post'

%br
- @taggedposts.each do |p|
    = render 'shared/indiv_tagged_post', :post => p
</div>

%div{:class => "facebook_share"}
    - if current_user.spanish
        Compártenos con tus amigos en Facebook.
        <span class="fb-share-button" data-href="https://visionaria-app.herokuapp.com/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fvisionaria-app.herokuapp.com%2F&amp;src=sdkpreparse">Compartir</a></span>
    - else
        Like us? Share us with your friends on facebook! 
        <span class="fb-share-button" data-href="https://visionaria-app.herokuapp.com/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fvisionaria-app.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></span>
