-#  This file is app/views/post/index.html.haml
<div class="content_wrapper">
= render 'shared/header_post'
%br
%div{:class => "tutorial"}
    %p{:class => "tutorial_head"} Listen -
    %span{:class => "tutorial_bold"} YO - I know myself. 
    I see things, I learn things. I know my strengths. I know that my hardships make me stronger.
    %p{:class => "tutorial_close"} [CLOSE X]

= render 'shared/new_post'

%div{:class => "posts", :id => "all_posts"}
    = render @posts

%div{:class => "facebook_share"}
    - if current_user.spanish
        Compártenos con tus amigos en Facebook.
        <span class="fb-share-button" data-href="https://visionaria-app.herokuapp.com/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fvisionaria-app.herokuapp.com%2F&amp;src=sdkpreparse">Compartir</a></span>
    - else
        Like us?  Share us with your friends on Facebook! 
        <span class="fb-share-button" data-href="https://visionaria-app.herokuapp.com/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fvisionaria-app.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></span>