body {
    background-color: #1879D8;
    margin:0;
}

.open_nav {
    color: #42A3AC;
    margin-top: 3px;
    cursor: pointer;
}

ul.header_nav_links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
}

li {
    float: right;
    width:48%;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #42A3AC;
    border-bottom: 3px solid #42A3AC;
}

.active {
    background-color: white;
    color: #42A3AC;
    border-bottom: 3px solid #42A3AC;
}

h2 {
    font-family: "Lato", Monaco, monospace;
    font-size: 48px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.page_title {
    margin-top: 10%;
    margin-bottom: 8%;
}

.welcome_user {
    padding-left: 40px;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: darkslategrey;
}