body {
    background-color: #F1F1F1;
    margin:0;
}


ul.header_nav_links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
}

.open_nav {
    color: #42A3AC;
}

li {
    float: right;
    width:40%;
    margin-right: 3%;
}

li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #5398DD;
    border-bottom: 3px solid #5398DD;
}

.active {
    background: white;
    color: #5398DD;
    border-bottom: 3px solid #5398DD;
}


h2 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 60px;
    text-align: center;
    color: lightslategrey;
}

.welcome_user {
    padding-left: 40px;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: darkslategrey;
}