
// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: #F1F1F1;
}

.post, .tag_post {
    margin: auto;
    background-color: white;
    width: 55%;
    min-width: 300px;
    border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	line-height: 1;
}

.post:hover, .tag_post:hover{
    opacity: 0.9;
}

.content_wrap {
    display: flex;
}

.filters_tag {
    float: left;
}

.content, .tagged_content {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    padding-left: 15px;
    width: 80%;
}

.tagged_content {
    float: left;
}

.filters_cat {
    flex: 1;
    text-align: center;
    float: left;
    padding-top: 15px;
}

.user_image {
    float: left;
}

.user_name {
    float: left;
    flex: 1;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.user_name a:not(.profile_link) {
    color: white;
    float: right;
    margin-left: 5px;
    text-decoration: none;
}


.user {
    display: flex;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 12px;
    background-color: #37AA8B;
}

.user .profile_link {
    color: white;
}

.timestamp {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
    font-style: italic;
}

.filters_cat, .timestamp {
    padding-right: 10px;
    color: #b7b7b7;
}

.filters_tag {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15px;
    text-align: right;
    padding-left: 25px;
}

.comments {
    padding: 10px;
    padding-bottom: 0px;
    border-top: 1px solid #e5e5e5;
    width: calc(100% - 40px);
    margin: 0px auto;
    margin-top: 30px;
}

.comment {
    border-bottom: 1px solid rgba(133, 162, 154, 0.33)
}

.comment .body p {
    padding: 0px;
    margin: 0px;
}

.comment .user {
    background: none;
    padding: 0px;
    margin: 0px;
    color: gray;
}

.new_comment input[type=text] {
    margin-top: 5px;
    background: white;
    padding: 10px;
    color: black;
    border: 1px solid #dddfe2;;
}

.new_comment, input[type=submit] {
    text-align: right;
}


.new_taggedcomment input[type=text] {
    margin-top: 5px;
    background: white;
    padding: 10px;
    color: black;
    border: 1px solid #dddfe2;;
}

.new_taggedcomment input[type=submit] {
    float: right;
}

#comment_section {
    background: rgba(149, 178, 170, 0.17);
    margin-top: 13px;
    width: 100%;
    padding: 20px;
    position: relative;
    left: -20px;
}

.social-share-button-facebook {
	width: 16px;
	height: 16px;
	background: url("/social/facebook.png") no-repeat;
}

.social-share-button {
    float: right;
    margin-right: 5px;
    margin-top: 2px;
}

textarea { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 95%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #b5cde5;
    transition: 0.5s;
    font-size: 30px;
}

textarea:focus {
    height: 150px;
    border: 1px solid #5398DD;
    outline: none;
}

.new_post_form {
    margin: auto;
    width: 57%;
}

.content_label {
    padding-left: 10px;
}

.privacy, .post_submit, .sort_labels {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}
.post_submit input[type="submit"] {
}

a.profile_link {
    color: #bbb;
    text-decoration: none;
}

.post_thumb_profile {
    margin-left: 5px;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.content_wrapper {
    min-height: calc(100vh - 50px);
}

.facebook_share {
    width: 100%;
    line-height: 1.5;
    color: white;
    font-size: 14px;
    text-align: center;
    background: #1879D8;
    padding: 8px;
}

.fb-share-button a {
    color: white;
    padding: 3px 8px;
    background: #3B5998;
    text-decoration: none;
    border-radius: 3px;
    letter-spacing: 0.5px;
    font-size: 12px;
    margin-left: 5px;
}
