// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_page {
    margin: auto;
    //padding-top: 70px;
    padding-top: 3%;
    width: 73%;
    //border: 1px solid;
}

.user_info_wrap {
    display: flex;
}

.profile_image_wrap {
    display: block;
    margin: auto;
    width: 40%;
}

.profile_image {
    border: 1px solid;
    width: 100%;
    height: auto;
}

.prof_user {
    font-size: 25px;
}

.loc_label, .prof_label {
    font-size: 15px;
}

.about_me {
    width: 60%;
    display: block;
    float: left;
    padding-left: 30px;
    display: inline-block;
}

.best_in_place {
    font-size: 16px;
}

.edit_input_wrap, .input_wrap {
    padding: 5px 20px 5px 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 2px;
}

.edit_input_wrap {
    background: #cdd6d3;
}

.input_wrap {
    background: #e2e1cc;
}

.best_in_place:hover {
    cursor: pointer;
    color: #e5e5e5;
}

.purr {
      position: fixed;
      top: 30px;
      right: 100px;
      width: 250px;
      padding: 20px;
      background-color: #FCC;
      border: solid 2px #666;
      &:first-letter { text-transform: uppercase };
}

.user_tabs {
    list-style-type: none;
    //margin: 0;
    padding: 2px;
    overflow: hidden;
    background-color: white;
    width: 70%;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
    text-align: center;
    margin: auto;
}

.points_tab, .posts_tab, .tagged_tab {
    float: left;
    //border: 1px solid;
    width: 32%;
}