// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_page {
    margin: auto;
    padding-top: 3%;
    width: 75%;
}

.user_info_wrap {
    display: flex;
}

.profile_image_wrap {
    display: block;
    margin: auto;
    width: 30%;
}

.profile_image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .24);
}

.prof_user {
    font-size: 25px;
}

.loc_label, .prof_label {
    font-size: 15px;
}

.about_me {
    width: 60%;
    display: block;
    float: left;
    padding-left: 30px;
    display: inline-block;
}

.best_in_place {
    font-size: 16px;
}

.edit_input_wrap, .input_wrap {
    padding: 5px 20px 5px 20px;
    margin-right: 20px;
    border-radius: 2px;
}

.edit_input_wrap {
    background: white;
    color: gray;
}

.input_wrap {
    background: #9cd8ce;
}

.best_in_place:hover {
    cursor: pointer;
    color: #e5e5e5;
}

.purr {
      position: fixed;
      top: 30px;
      right: 100px;
      width: 250px;
      padding: 20px;
      background-color: #FCC;
      border: solid 2px #666;
      &:first-letter { text-transform: uppercase };
}

.user_tabs {
    list-style-type: none;
    padding-top: 2px;
    overflow: hidden;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
    text-align: center;
    margin: auto;
    
}

.tab {
    float: left;
    width: 25%;
    font-size: 15px;
    text-decoration: none;
    color: #1879D8;
}

.profile_tab {
    margin-top: 5px;
    background-color: white;
    width: 100%;
}

#my_points, #my_journal {
    text-align: center;
}

.tab:hover {
    color: #1879D8;
    border-bottom: 3px solid #1879D8;
}

#tab1.active, #tab2.active, #tab3.active, #tab4.active {
    color: #1879D8C;
    border-bottom: 3px solid #1879D8;
}

.points_and_level {
}

.level {
    margin-left: 100px;
    width: 20%;
    text-align: left;
    display: inline-block;
}

.amounts {
    color: slategray;
    margin-left: 40px;
    width: 50%;
    text-align: left;
    display: inline-block;
}

#Visions {
    color: #42A3AC;
}

p[id="No Poverty"] {
    color: #d81c3e;
}

p[id="Zero Hunger"] {
    color: #dba634;
}

p[id="Good Health And Well-being"] {
    color: #53a357;
}

p[id="Quality Education"] {
    color: #c40909;
}

p[id="Gender Equality"] {
    color: #ef3d26;
}

p[id="Clean Water And Sanitation"] {
    color: #04c0ea;
}

p[id="Affordable And Clean Energy"] {
    color: #f4cf2c;
}

p[id="Decent Work And Ecnomic Growth"] {
    color: #990648;
}

p[id="Industry, Innovation And Infrastructure"] {
    color: #d8632d;
}

p[id="Reduced Inqualities"] {
    color: #c6096b;
}

p[id="Sustainale Cities And Communities"] {
    color: #ed9a36;
}

p[id="Responsible Consumption And Production"] {
    color: #b58215;
}

p[id="Climate Action"] {
    color: #3f875a;
}

p[id="Life Below Water"] {
    color: #0ba3e0;
}

p[id="Life On Land"] {
    color: #7cc46a;
}

p[id="Peace, Justice and Strong Institutions"] { 
    color: #2f7ab7;
}

p[id="Partnerships For The Goals"] { 
    color: #043a5e;
}