// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    font-family: "Lato", sans-serif;
}

.login_bg {
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    z-index: -1;
    background: #1879D8;
    top: 0px;
    left: 0px;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
    background: rgba(0, 0, 0, 0.4); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(24,121,216,0.56), rgba(0,0,0,0.25),rgba(0,0,0,0.1));
    background: -o-linear-gradient(rgba(24,121,216,0.56), rgba(0,0,0,0.25),rgba(0,0,0,0.1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(24,121,216,0.56), rgba(0,0,0,0.25),rgba(0,0,0,0.1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(24,121,216,0.56), rgba(0,0,0,0.25),rgba(0,0,0,0.1)); /* Standard syntax */
    top: 0;
}

#home-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    top: 0px;
}

#home-bg img{
    width: 100%;
    height: 100%;
    overflow: none;
    object-fit: cover;
}

h1 {
    font-family: "Lato", sans-serif;
    font-size: 70px;
    color: #324b5a;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    border: 5px solid;
    width: 420px;
    text-align: center;
    margin: 0 auto;
    background: #f0f0eb;
    margin-top: 100px;
}

.Visionaria {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

.Visionaria img {
    height: 120px;
    margin-bottom: 30px;
}

.sign_ins{
    text-align: center;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    width: 400px;
    margin: 0 auto;
    margin-top: 0px;
}

a.logins, a.facebook, a.google {
    width: 195px;
    margin: 10px auto;
    padding: 10px 0px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    background: #3598DD;
    color: white;
}

a.logins {
    transition: 0.2s ease;
    display: block;
    font-weight: 700;
    letter-spacing: 1px;
}

a.facebook, a.google {
    background: none;
    border: none;
    padding: 0px 0px;
    display: block;
}


a.logins:hover {
    background: #1879D8;
}


a:visited {
    text-decoration: none;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 8px 0px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
}

input:focus {
    outline: none;
}

.field, .actions {
    color: #00008B;
    text-align: center;
    width: 35%;
    margin: 0 auto;
}

.sign_in_label {
    float: left;
    color: white;
}

.sign_in_label_container a {
    color: white;
}

.sign_in_label_container {
    width: 35%;
    margin-left: 32.5%;
    margin-top: 30px;
    line-height: 1.5;
}

.sign_in {
    float: right;
    font-size: 16px;
    padding: 8px 30px;
    border-radius: 5px;
    text-align: center;
    background: #37AA8B;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
}

.field .remember {
    float: right;
    color: white;
}

#user_remember_me[type=checkbox] {
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.min_chars {
    float: left;
    margin-left: 5px;
    color: white;
}

#user_avatar {
   margin-bottom: 35px;
   color: white;
}

@media (max-width:600px) {
    #home-bg {
        display: none;
    }
}

.edit_user label, i, em {
    color: white;
}

.edit_user .form-group {
    text-align: center;
}

.visionaria_info {
    color: #5f6063;
    font-size: 200%;
}

.visionaria_info_wrap {
    margin: auto;
    width: 60%;
    color: gray;
    text-align: justify;
}

@media (max-width:600px) {
    .visionaria_info_wrap {
        width: 84%;
    }
}